
<div class="container1">
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">
  <h1>Ask me a question !</h1>
  </div>
  <div class="card-body">
  <form action="/answer" method="get" data-turbo="false">
  <input type="text" name="questions">
  <input type="submit" value="Ask!">
  </form>
</div>
</div>
</div>
